.container-img {
 width: 90%;
 height: 95vh;
 border: 5px solid black;
 border-radius: 15px;
 background-repeat:no-repeat;
 background-size: cover;
 background-position:center;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin: 15px auto 0px auto;
}

